@import "./reset.css";

/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 
font-family: "DM Sans", sans-serif;
font-family: "Poppins", sans-serif;
*/

/* Variables in CSS */
:root {
    --black: #171718;
    --black-border: #26292D;
    --white: #fff;
    --purple: #5C62EC;


    --text-color: var(--black);
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--purple);
}

html, body {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px;
    color: var(--text-color);
}

.container {

    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;

}


/* Navigation */

.nav {
    padding: 20px 0;
    border-bottom: 1px  solid   var(--dark-border);
    background-color: var(--dark-bg);
    color: var(--header-text);
    letter-spacing: normal;
}
.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
}

.logo {
    color: var(--header-text);
    font-size: 24px;
    font-family: "Poppins", sans-serif;
}
.logo strong{
    font-weight: 700px;
}
.nav-list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.nav-list__link {
    color: var(--header-text);

    /* for focus effect */
    transition: opacity 0.2s ease-in;
}
/* for focus effect */
.nav-list__link:hover {
    opacity: 0.8;
}


/* Pseudo-element to mark the active link */
.nav-list__link--active {
    position: relative;
}
.nav-list__link--active::before {
    content: "";
    position: absolute;
    top: 100%;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--accent);
}

/* Header */

.header {
    padding: 40px 0;
    min-height: 695px;
    
    background-color: var(--dark-bg);
    /* Setup background img */
    background-image: url(./img/header-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;

    color: var(--header-text);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__wrapper{
    padding: 0 15px;
    max-width: 660px;


}

.header__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: normal;
    color: var(--accent);
}

.header__text {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.333;
}

.header__text p+p {
    margin-top: 0.5em;
}

.btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;

    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
    letter-spacing: 0.15px;
    font-size: 16px;
    font-weight: 500;
/* for focus effect */
    transition: opasity 0.2s ease-in;
}
/* Button focus */
.btn:hover {
    opacity: 0.8;
}
/* Buttom click */
.btn:active {
    position: relative;
    top: 1px;
}
